@import url('./__item/photo-grid__item.css');

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 0;
    row-gap: 12px;
  }
}