.cover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  max-width: 560px;
}
@media (max-width: 550px) {
  .cover__text {
    width: 288px;
  }
}